
.linkk{
    text-decoration: none !important;
    color: white !important;
}
.linkk:hover{
    text-decoration: none !important;
    color: white !important;
}

.bac{
    min-height: 15vh;
}

.baa{
    min-height: 7.5vh !important;

}
.bbb{
    min-height: 7.5vh !important;
}