.search{
    border-radius: 20px;
    background-color: rgb(66, 66, 66);
    width: 75%;
    height: 2.5rem;
    margin-top: 1rem;
}

input{
    background-color: rgb(66, 66, 66);
    border: none;
    outline: none;
    color: white;
    margin-left: 1rem !important;

}

.search:active{
    background-color: black;
}

.asad{
    margin-left: 2rem;
}


.trend{
    color: #585c61;
    font-size: small;
    font-weight: 600;


}
.trends{
    border-radius: 20px;
    background-color: #16181C;
    width: 75%;
    margin-top: 1rem;
    height: 80vh;
    overflow: hidden;


}

.geneltrend{
    height: fit-content;
}

.geneltrend:hover{
    background-color: #404142;
    cursor: pointer;
}

.trendTitle{

    font-weight: bold;
    font-size: large;
}

.trendss{
    font-weight: bold;
    overflow: hidden;
}

.trendPostAmount{
    font-size: small;
    color: #585c61;
    font-weight: 600;
}